<%= form_for(@recipient) do |f| %>
  <% if @recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% @recipient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div id="essentials">
    <div id="email" class="field">
      <%= f.label :email %><br />
      <%= f.text_field :email, maxlength: 50 %>
    </div>
  </div>
  <div id="notice" class="field">
    Wie bist Du auf uns gekommen? <input type="button" id="toggleButton" value="∇">
  </div>
  <div id="messageField">
    <%= f.text_area :notice, cols: 60, rows: 10 %>
  </div>
  <div id="submit">
    <%= f.submit 'Abschicken' %>
  </div>
<% end %>


