<h1>Newsletter Liste</h1>
<br />
<table>
  <tr>
    <th style="text-align:left">Email</th>
    <th></th>
    <th></th>
  </tr>

<% @recipients.each do |recipient| %>
  
  <tr class="<%= cycle('list_line_even', 'list_line_odd') %>">

    <td><%= recipient.email %></td>
    <td><%= button_to "Entfernen", recipient, :method => :delete %>  
    </td>
  </tr>
<% end %>
</table>

<br />

<div>
  <div id="button">
    <%= form_tag(new_recipient_path, method: :get) do %>
      <%= button_to 'Neue Mail-Adresse' %>
    <% end %>
  </div>
  <div id="button">
    <%= form_tag(logout_path, method: :delete) do %>
      <%= submit_tag "Abmelden"%>
    <% end %>
  </div>
  <div>
    <%= form_tag(notify_path) do %>
      <input type="submit" value="Newsletter versenden" id="newsletterButton"> 
    <% end %>
  </div>
</div>









