<h1>Newsletter Liste</h1>
<br />
<table>
  <tr>
    <th style="text-align:left">Email</th>
    <th></th>
    <th></th>
  </tr>

<% @recipients.each do |recipient| %>
  
  <tr class="<%= cycle('list_line_even', 'list_line_odd') %>">

    <td><%= link_to recipient.email, edit_recipient_path(recipient) %></td>
    <td><%= button_to "Entfernen", recipient, :method => :delete %>  
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neue Mail-Adresse', new_recipient_path %>

<%= form_tag(logout_path, method: :delete) do %>
  <%= submit_tag "Abmelden"%>
<% end %>  