#main
  #header
    = render_flash
  
  %h1
    %span.flat<> flat 
    %span.st<>   st
    
  %h2 Bei uns findest du deine WG – oder deine WG findet dich.
  %h2 Ab Dezember.

  = form_for @recipient do |form|

    %p.info
      Wir benachrichtigen dich gerne, sobald es richtig los geht.
      %br
      Wir schicken dir nur eine E-Mail. Kein Newsletter. Kein Spam.

    %p.info
      = form.check_box :betatest
      = form.label :betatest

    %div
      = form.text_field :email, placeholder:'Deine E-Mail-Adresse'
      = form.submit 'Eintragen'
