<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recipient.name %>
</p>

<p>
  <b>Email:</b>
  <%= @recipient.email %>
</p>

<p>
  <b>Notice:</b>
  <%= @recipient.notice %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
