<!DOCTYPE html>
<html>
<head>
  <title>Subscriber</title>
  
  <%= javascript_include_tag "http://use.typekit.com/yvm3kjd.js" %>

  <script type="text/javascript">
    try { Typekit.load() } catch(e) {};
  </script>
  
  <%= stylesheet_link_tag "screen" %>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.6.4.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% flash.each do |type, message| %>
    <p id="<%= type %>"><%= message %></p>
  <% end %>
    
  <%= yield %>
  
</body>
</html>
