!!! 5
%html
%head
  %title flat‧st
  
  = javascript_include_tag "http://use.typekit.com/yvm3kjd.js"

  :javascript
    try Typekit.load()
  
  = stylesheet_link_tag 'screen'
  = javascript_include_tag "http://code.jquery.com/jquery-1.6.4.min.js"
  = javascript_include_tag 'application'
  = csrf_meta_tag

%body
  - flash.each do |type, message|
    %p#type = message

  = yield
